DEBUG=true
SECRET_KEY="django-insecure--j)t%5m5n*9o87#(h25j84^&1mf_o3%rk2n3h9%&=w-hl6%9em"
ALLOWED_HOSTS=*
POSTGRES_DB=template_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
FRONTEND_URL=http://localhost:3000
CLERK_JWKS_URL=clerk
CLERK_SECRET_KEY=clerk
CLERK_ISSUER=clerk
