# MacOS
.DS_Store

# IDE
.idea
.vscode

# Cache
*.pyc
*.pyo
*/__pycache__
*/.pytest_cache

# Virtual Environment
/venv
/.venv

# Database
*.sqlite3
.coverage
.postgres_data/

# Storage
/backend/media
/backend/staticfiles

# Environment Variables
.env

# Logs
*.log

# Python package build artifacts
*.egg
*.egg-info/
dist/
build/
