annotated-types==0.7.0
asgiref==3.8.1
astroid==3.3.10
attrs==24.2.0
autobahn==24.4.2
Automat==25.4.16
beautifulsoup4==4.13.4
black==24.10.0
certifi==2025.4.26
cffi==1.17.1
channels==4.2.2
charset-normalizer==3.4.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
coverage==7.6.10
cryptography==45.0.3
curl_cffi==0.11.1
daphne==4.2.0
dill==0.4.0
Django==5.1.3
django-filter==24.3
django-stubs==5.2.0
django-stubs-ext==5.2.0
django-unfold==0.57.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djangorestframework-stubs==3.16.0
drf-spectacular==0.28.0
Faker==33.1.0
frozendict==2.4.6
gunicorn==23.0.0
h11==0.16.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
Markdown==3.7
mccabe==0.7.0
multitasking==0.0.11
mypy==1.15.0
mypy-extensions==1.0.0
numpy==2.2.5
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.250308
pathspec==0.12.1
peewee==3.18.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==6.31.0
psycopg==3.2.6
psycopg-binary==3.2.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
PyJWT==2.10.1
pylint==3.3.7
pylint-pytest==1.1.8
pyOpenSSL==25.1.0
pytest==8.2.0
pytest-asyncio==1.0.0
pytest-cov==6.0.0
pytest-django==4.11.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rest-framework-simplejwt==0.0.2
rpds-py==0.22.3
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.2
tomlkit==0.13.2
Twisted==24.11.0
txaio==23.1.1
types-colorama==0.4.15.20240311
types-docutils==0.21.0.20250523
types-Markdown==3.8.0.20250415
types-peewee==3.18.1.20250516
types-pexpect==4.9.0.20250516
types-Pygments==2.19.0.20250516
types-pytz==2025.2.0.20250516
types-PyYAML==6.0.12.20250516
types-requests==2.32.0.20250515
types-setuptools==80.8.0.20250521
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.34.2
websockets==15.0.1
whitenoise==6.9.0
yfinance==0.2.61
zope.interface==7.2
