annotated-types==0.7.0
asgiref==3.8.1
astroid==3.3.10
attrs==24.2.0
beautifulsoup4==4.13.4
black==24.10.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
charset-normal
colorama==0.4.6
coverage==7.6.10
curl_cffi==0.11.1
dill==0.4.0
Django==5.1.3
django-filter==24.3
django-stubs==5.2.0
django-stubs-ext==5.2.0
django-unfold==0.57.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djangorestframework-stubs==3.16.0
drf-spectacular==0.28.0
Faker==33.1.0
frozendict==2.4.6
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
Markdown==3.7
multitasking==0.0.11
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
numpy==2.2.5
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
peewee==3.18.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==6.31.0
psycopg==3.2.6
psycopg-binary==3.2.6
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
PyJWT==2.10.1
pylint==3.3.7
pylint-pytest==1.1.8
pytest==8.2.0
pytest-cov==6.0.0
pytest-django==4.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rest-framework-simplejwt==0.0.2
rpds-py==0.22.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.2
typing-inspection==0.4.0
tomlkit==0.13.2
types-PyYAML==6.0.12.20250516
types-requests==2.32.0.20250515
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
websockets==15.0.1
whitenoise==6.9.0
yfinance==0.2.61
